/* 重置默认样式 start */
body,div,h1,h2,h3,h4,h5,p,ul,ol,p{
  padding:0;
  margin:0;
  font-family:"Helvetica";
  -webkit-text-size-adjust:100%;
}

li{
  padding:0;
  margin:0;
  list-style:none;
}

h1,h2,h3,h4,h5{
  font-weight:normal;
}

img{
  vertical-align: top;
  border:none;
  outline:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

a,a:hover{
  text-decoration:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

em,strong,i{
  font-style:normal;
  font-weight:normal;
}

input,button,select{
  border:none;
  -webkit-appearance: none;
  outline: none;
  padding:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body,.el-main{
  position:relative;
  width:100vw;
  height:100vh;
  overflow:hidden;
}

.app-main{
  height:100%;
}
.relative{
  position: relative;
}
.position{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

@rem:46.875rem;

.fl{
  float: left;
}
.fr{
  float:right;
}

.hidden{
  overflow: hidden;
}

.flex{
  display:flex;
}

.justify-content{
  display:flex;
  justify-content:center;
  align-items:center;
}

.inlin{
  display: inline;
}
.block{
  display:block;
}
.inline-block{
  display:inline-block;
}

@colour-red:#f33531;
@colour-orange: #f37b1d;
@colour-yellow: #fbbd08;
@colour-olive: #8dc63f;
@colour-green: #39b54a;
@colour-cyan: #1cbbb4;
@colour-blue: #0081ff;
@colour-purple: #6739b6;
@colour-mauve: #9c26b0;
@colour-pink: #e03997;
@colour-brown: #a5673f;
@colour-grey: #8799a3;
@colour-black: #333333;
@colour-darkGray: #666666;
@colour-gray: #aaaaaa;
@colour-ghostWhite: #f1f1f1;
@colour-white: #ffffff;

/* 浅色 */
@colour-redLight: #fadbd9;
@colour-orangeLight: #fde6d2;
@colour-yellowLight: #fef2ce;
@colour-oliveLight: #e8f4d9;
@colour-greenLight: #d7f0db;
@colour-cyanLight: #d2f1f0;
@colour-blueLight: #cce6ff;
@colour-purpleLight: #e1d7f0;
@colour-mauveLight: #ebd4ef;
@colour-pinkLight: #f9d7ea;
@colour-brownLight: #ede1d9;
@colour-greyLight: #e7ebed;
/* 颜色渐变 */
@colour-gradual-gradualRed:linear-gradient(45deg, #f43f3b, #ec008c);
@colour-gradual-gradualOrange: linear-gradient(45deg, #ff9700, #ed1c24);
@colour-gradual-gradualGreen: linear-gradient(45deg, #39b54a, #8dc63f);
@colour-gradual-gradualPurple: linear-gradient(45deg, #9000ff, #5e00ff);
@colour-gradual-gradualPink: linear-gradient(45deg, #ec008c, #6739b6);
@colour-gradual-gradualBlue: linear-gradient(45deg, #0081ff, #1cbbb4);
@colour-gradual-gradualDarkblue:linear-gradient(180deg,rgba(161,185,246,1) 0%,rgba(56,88,214,1) 100%);

/* 字体颜色 */
.text-red{
  color:@colour-red;
}
.text-orange{
  color:@colour-orange;
}
.text-yellow{
  color:@colour-yellow;
}
.text-olive{
  color:@colour-olive;
}
.text-green{
  color:@colour-green;
}
.text-cyan{
  color:@colour-cyan;
}
.text-blue{
  color:@colour-blue;
}
.text-purple{
  color:@colour-purple;
}
.text-mauve{
  color:@colour-mauve;
}
.text-pink{
  color:@colour-pink;
}
.text-brown{
  color:@colour-brown;
}
.text-grey{
  color:@colour-grey;
}
.text-darkGray{
  color:@colour-darkGray;
}
.text-gray{
  color:@colour-gray;
}
.text-ghostWhite{
  color:@colour-ghostWhite;
}
.text-white{
  color:@colour-white;
}
.text-redLight{
  color:@colour-redLight;
}
.text-orangeLight{
  color:@colour-orangeLight;
}
.text-yellowLight{
  color:@colour-yellowLight;
}
.text-oliveLight{
  color:@colour-oliveLight;
}
.text-greenLight{
  color:@colour-greenLight;
}
.text-cyanLight{
  color:@colour-cyanLight;
}
.text-blueLight{
  color:@colour-blueLight;
}
.text-purpleLight{
  color:@colour-purpleLight;
}
.text-mauveLight{
  color:@colour-mauveLight;
}
.text-pinkLight{
  color:@colour-pinkLight;
}
.text-brownLight{
  color:@colour-brownLight;
}
.text-greyLight{
  color:@colour-greyLight;
}

.text-line-through{
  text-decoration: line-through;
}
.text-underline{
  text-decoration: underline;
}


/* 背景颜色 */
.bg-red{
  background-color:@colour-red;
}
.bg-orange{
  background-color:@colour-orange;
}
.bg-yellow{
  background-color:@colour-yellow;
}
.bg-olive{
  background-color:@colour-olive;
}
.bg-green{
  background-color:@colour-green;
}
.bg-cyan{
  background-color:@colour-cyan;
}
.bg-blue{
  background-color:@colour-blue;
}
.bg-purple{
  background-color:@colour-purple;
}
.bg-mauve{
  background-color:@colour-mauve;
}
.bg-pink{
  background-color:@colour-pink;
}
.bg-brown{
  background-color:@colour-brown;
}
.bg-grey{
  background-color:@colour-grey;
}
.bg-darkGray{
  background-color:@colour-darkGray;
}
.bg-gray{
  background-color:@colour-gray;
}
.bg-ghostWhite{
  background-color:@colour-ghostWhite;
}
.bg-white{
  background-color:@colour-white;
}

.bg-redLight{
  background-color:@colour-redLight;
}
.bg-orangeLight{
  background-color:@colour-orangeLight;
}
.bg-yellowLight{
  background-color:@colour-yellowLight;
}
.bg-oliveLight{
  background-color:@colour-oliveLight;
}
.bg-greenLight{
  background-color:@colour-greenLight;
}
.bg-cyanLight{
  background-color:@colour-cyanLight;
}
.bg-blueLight{
  background-color:@colour-blueLight;
}
.bg-purpleLight{
  background-color:@colour-purpleLight;
}
.bg-mauveLight{
  background-color:@colour-mauveLight;
}
.bg-pinkLight{
  background-color:@colour-pinkLight;
}
.bg-brownLight{
  background-color:@colour-brownLight;
}
.bg-greyLight{
  background-color:@colour-greyLight;
}

.radius-xs{
  border-radius:4/@rem;
}
.radius-sm{
  border-radius:6/@rem;
}
.radius-sl{
  border-radius:8/@rem;
}
.radius-lg{
  border-radius:10/@rem;
}
.radius-xl{
  border-radius:12/@rem;
}

.round{
  border-radius:50%;
}

.text-size-xs{
  font-size:24/@rem !important;
}
.text-size-sm{
  font-size:34/@rem !important;
}
.text-size-sl{
  font-size:40/@rem !important;
}
.text-size-lg{
  font-size:46/@rem !important;
}
.text-size-xl{
  font-size:52/@rem !important;
}

.text-bold{
  font-weight:bold;
}
.text-justify{
  text-align: justify;
}
.text-center{
  text-align: center;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-indent-xs{
  text-indent: 10/@rem;
}
.text-indent-sm{
  text-indent: 20/@rem;
}
.text-indent{
  text-indent: 30/@rem;
}
.text-indent-lg{
  text-indent: 40/@rem;
}
.text-indent-xl{
  text-indent: 50/@rem;
}

.text-hidden{
  text-overflow:ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.text-hidden-clamp-xs {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.text-hidden-clamp-ms {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}
.text-hidden-clamp-lg {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 6;
}
.text-hidden-clamp-xl {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 8;
}
.text-hidden-clamp-xxl {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}
.text-hidden-clamp-xxxl {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 12;
}

.padding{
  padding:30/@rem;
}
.padding-xs{
  padding:10/@rem;
}
.padding-sm{
  padding:20/@rem;
}
.padding-lg{
  padding:40/@rem;
}
.padding-xl{
  padding:50/@rem;
}

.padding-lr{
  padding-left:30/@rem;
  padding-right:30/@rem;
}
.padding-lr-xs{
  padding-left:10/@rem;
  padding-right:10/@rem;
}
.padding-lr-sm{
  padding-left:20/@rem;
  padding-right:20/@rem;
}
.padding-lr-lg{
  padding-left:40/@rem;
  padding-right:40/@rem;
}
.padding-lr-xl{
  padding-left:50/@rem;
  padding-right:50/@rem;
}

.padding-tb{
  padding-top:30/@rem;
  padding-bottom:30/@rem;
}
.padding-tb-xs{
  padding-top:10/@rem;
  padding-bottom:10/@rem;
}
.padding-tb-sm{
  padding-top:20/@rem;
  padding-bottom:20/@rem;
}
.padding-tb-lg{
  padding-top:40/@rem;
  padding-bottom:40/@rem;
}
.padding-tb-xl{
  padding-top:50/@rem;
  padding-bottom:50/@rem;
}

.padding-left{
  padding-left: 30/@rem;
}
.padding-left-xs{
  padding-left:10/@rem;
}
.padding-left-sm{
  padding-left:20/@rem;
}
.padding-left-lg{
  padding-left:40/@rem;
}
.padding-left-xl{
  padding-left:50/@rem;
}

.padding-right{
  padding-right: 30/@rem;
}
.padding-left-xs{
  padding-right:10/@rem;
}
.padding-left-sm{
  padding-right:20/@rem;
}
.padding-right-lg{
  padding-right:40/@rem;
}
.padding-right-xl{
  padding-right:50/@rem;
}

.padding-top{
  padding-top: 30/@rem;
}
.padding-top-xs{
  padding-top:10/@rem;
}
.padding-top-sm{
  padding-top:20/@rem;
}
.padding-top-lg{
  padding-top:40/@rem;
}
.padding-top-xl{
  padding-top:50/@rem;
}

.padding-bottom{
  padding-bottom: 30/@rem;
}
.padding-bottom-xs{
  padding-bottom:10/@rem;
}
.padding-bottom-sm{
  padding-bottom:20/@rem;
}
.padding-bottom-lg{
  padding-bottom:40/@rem;
}
.padding-bottom-xl{
  padding-bottom:50/@rem;
}

.margin{
  margin:30/@rem;
}
.margin-xs{
  margin:10/@rem;
}
.margin-sm{
  margin:20/@rem;
}
.margin-lg{
  margin:40/@rem;
}
.margin-xl{
  margin:50/@rem;
}

.margin-lr{
  margin-left:30/@rem;
  margin-right:30/@rem;
}
.margin-lr-xs{
  margin-left:10/@rem;
  margin-right:10/@rem;
}
.margin-lr-sm{
  margin-left:20/@rem;
  margin-right:20/@rem;
}
.margin-lr-lg{
  margin-left:40/@rem;
  margin-right:40/@rem;
}
.margin-lr-xl{
  margin-left:50/@rem;
  margin-right:50/@rem;
}

.margin-tb{
  margin-top:30/@rem;
  margin-bottom:30/@rem;
}
.margin-tb-xs{
  margin-top:10/@rem;
  margin-bottom:10/@rem;
}
.margin-tb-sm{
  margin-top:20/@rem;
  margin-bottom:20/@rem;
}
.margin-tb-lg{
  margin-top:40/@rem;
  margin-bottom:40/@rem;
}
.margin-tb-xl{
  margin-top:50/@rem;
  margin-bottom:50/@rem;
}

.margin-left{
  margin-left:30/@rem;
}
.margin-left-xs{
  margin-left:10/@rem;
}
.margin-left-sm{
  margin-left:20/@rem;
}
.margin-left-lg{
  margin-left:40/@rem;
}
.margin-left-xl{
  margin-left:50/@rem;
}

.margin-right{
  margin-right:30/@rem;
}
.margin-right-xs{
  margin-right:10/@rem;
}
.margin-right-sm{
  margin-right:20/@rem;
}
.margin-right-lg{
  margin-right:40/@rem;
}
.margin-right-xl{
  margin-right:50/@rem;
}

.margin-top{
  margin-top:30/@rem;
}
.margin-top-xs{
  margin-top:10/@rem;
}
.margin-top-sm{
  margin-top:20/@rem;
}
.margin-top-lg{
  margin-top:40/@rem;
}
.margin-top-xl{
  margin-top:50/@rem;
}

.margin-bottom{
  margin-bottom:30/@rem;
}
.margin-bottom-xs{
  margin-bottom:10/@rem;
}
.margin-bottom-sm{
  margin-bottom:20/@rem;
}
.margin-bottom-lg{
  margin-bottom:40/@rem;
}
.margin-bottom-xl{
  margin-bottom:50/@rem;
}

.solid{
  border:1px solid #E4E7ED;
}
.solid-bottom{
  border-bottom:2/@rem solid #E4E7ED;
}
.solid-top{
  border-top:2/@rem solid #E4E7ED;
}
.solid-left{
  border-left:2/@rem solid #E4E7ED;
}
.solid-right{
  border-right:2/@rem solid #E4E7ED;
}

.basis-xs {
  flex-basis: 30%;
}

.basis-sm {
  flex-basis: 40%;
}

.basis-df {
  flex-basis: 50%;
}

.basis-lg {
  flex-basis: 60%;
}

.basis-xl {
  flex-basis: 80%;
}

.basis-xxl {
  flex-basis: 100%;
}

.white-nowrap{
  white-space: nowrap;
}
.white-pre{
  white-space: pre;
}
.white-pre-wrap{
  white-space: pre-wrap;
}
.white-pre-line{
  white-space: pre-line;
}
.white-inherit{
  white-space: inherit;
}
