/* 重置默认样式 start */
body,div,h1,h2,h3,h4,h5,p,ul,ol,p{
  padding:0;
  margin:0;
  font-family:"Helvetica";
  -webkit-text-size-adjust:100%;
}

li{
  padding:0;
  margin:0;
  list-style:none;
}

h1,h2,h3,h4,h5{
  font-weight:normal;
}

img{
  vertical-align: top;
  border:none;
}

a,a:hover{
  text-decoration:none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

em,strong,i{
  font-style:normal;
  font-weight:normal;
}

input,button,select{
  border:none;
  -webkit-appearance: none;
  outline: none;
  padding:0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

html,body{
  position:relative;
  width:100vw;
  height:100vh;
  overflow:hidden;
}


@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.pulse{
  -webkit-animation: 1s pulse infinite linear;
  -o-animation: 1s pulse infinite linear;
  animation: 1s pulse infinite linear;
}

//定义字体大小
@rem:46.875rem;

.position{
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.glasses-button{
  position: absolute;
  bottom:60/@rem;
  width: 27/@rem;
  height: 44/@rem;
  z-index: 10;
  cursor: pointer;
}

.glasses-button-prev{
  left:39/@rem;
  background:url('../images/public/arrow-left2.png') no-repeat center center;
  background-size:cover;
}
.glasses-button-next{
  right:39/@rem;
  background:url('../images/public/arrow-right2.png') no-repeat center center;
  background-size:cover;
}

.swiper{
  width:100vw;
  height:100vh;
  .swiper-button-next, .swiper-button-prev{
    width:82/@rem !important;
    height:82/@rem !important;
    border-radius:50%;
    margin-top:-246/@rem;
  }
  .swiper-button-prev{
    background:url('../images/public/arrow-left.png') no-repeat center center !important;
    background-size:cover !important;
  }
  .swiper-button-next{
    background:url('../images/public/arrow-right.png') no-repeat center center !important;
    background-size:cover !important;
  }
}

.slide-container{
  position:relative;
  width:635/@rem;
  height:938/@rem;
  background-color:#fff;
  margin:26/@rem auto 0;
  padding:25px;
  border-radius:6/@rem;
  overflow: hidden;
  .phototemplate{
    position:relative;
    width:100%;
    height:787/@rem;
    overflow:hidden;
    button{
      position:absolute;
      width:195/@rem;
      height:210/@rem;
      background:rgba(255,255,255,0) url(../images/public/button-upload.png) no-repeat;
      background-size:cover;
      input{
        width:100%;
        height:100%;
        opacity:0;
      }
    }
  }
  .glasses{
    position:absolute;
    bottom:36/@rem;
    left:50%;
    width:526/@rem;
    height:92/@rem;
    margin-left:-263/@rem;
    overflow: hidden;
    .swiper-slide{
      display:flex;
      .glasses-min{
        width:155/@rem;
        height:100%;
        margin:0 10/@rem;
        img{
          width:100%;
          height:100%;
        }
      }
    }
  }
}
//chioce-button
#container{
  .choice-button{
    position:absolute;
    bottom:98/@rem;
    left:0;
    width:100%;
    height:78/@rem;
    text-align: center;
    display:none;
    z-index:222;
    button{
      width:298/@rem;
      height:78/@rem;
      background:url(../images/public/button-choice.png) no-repeat;
      background-size:cover;
      margin:0 auto;
    }
  }
  .GetShare-button{
    position:absolute;
    bottom:80/@rem;
    left:0;
    width:100%;
    height:80/@rem;
    text-align:center;
    display:none;
    button{
      width:300/@rem;
      height:80/@rem;
    }
    button:nth-of-type(1){
      background:url(../images/public/button-Get.png) no-repeat center center;
      background-size:cover;
      margin-right:40/@rem;
    }
    button:nth-of-type(2){
      background:url(../images/public/button-show-off.png) no-repeat center center;
      background-size:cover;
    }
  }
}

.loading{
  background:url(../images/loading/loading_bg.jpg) no-repeat center center;
  background-size:cover;
  display:flex;
  align-items: center;
  div{
    width:206/@rem;
    height:206/@rem;
    border:4/@rem solid rgba(255,255,255,0);
    border-radius:50%;
    margin:-206/@rem auto 0;
    font-size:52/@rem;
    canvas{
      background:url(../images/loading/circle.png) no-repeat center center;
      background-size:cover;
    }
   }
}

#guide{
  position:relative;
  width:100vw;
  height:100vh;
  background:url(../images/BootPage/bg.jpg) no-repeat center center;
  background-size:cover;
  display:none;
  section{
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    height:1154/@rem;
    .School-leader,.bosss-kai{
      position:absolute;
      bottom:0;
    }
    .bosss-kai{
      left:0;
      width:437/@rem;
      height:1153/@rem;
      background:url(../images/BootPage/boss-kai.png) no-repeat center center;
      background-size:cover;
    }
    .School-leader{
      right:0;
      width:497/@rem;
      height:1104/@rem;
      background:url(../images/BootPage/Schoolleader.png) no-repeat center center;
      background-size:cover;

    }
    .bosss-button,.School-button{
      display:none;
      align-items: center;
      text-align:center;
      div{
        display:inline-block;
        width:250/@rem;
        height:150/@rem;
        margin:0 auto;
      }
    }
    .bosss-button{
      position:absolute;
      left:0;
      top:402/@rem;
      width:404/@rem;
      height:344/@rem;
      background:url(../images/BootPage/boss-button.png) no-repeat center center;
      background-size:cover;
    }
    .School-button{
      position:absolute;
      bottom:338/@rem;
      right:0;
      width:429/@rem;
      height:318/@rem;
      background:url(../images/BootPage/School-button.png) no-repeat center center;
      background-size:cover;
    }
  }
}

.video-list{
  display:none;
  video{
    width:100vw;
    height:100vh;
    object-fit: cover;
    display:none;
  }
}

#BossKai{
  display:none;
  .scene-wrapper{
    .scene-slide:nth-of-type(1){
      background:url(../images/scene_four/44.jpg) no-repeat center center;
      background-size:cover;
      .boss-photo-frame{
        background:url(../images/scene_four/d2.jpg) no-repeat center center;
        background-size:cover;
        div{
          background:url(../images/scene_four/d2.png) no-repeat center center;
          background-size:cover;
        }
        button{
          right:12%;
          top:47%;
        }
      }
    }
    .scene-slide:nth-of-type(2){
      background:url(../images/scene_five/55.jpg) no-repeat center center;
      background-size:cover;
      .boss-photo-frame{
        background:url(../images/scene_five/e2.jpg) no-repeat center center;
        background-size:cover;
        div{
          background:url(../images/scene_five/e2.png) no-repeat center center;
          background-size:cover;
        }
        button{
          left:12.5%;
          top:44%;
        }
      }
    }
    .scene-slide:nth-of-type(3){
      background:url(../images/scene_six/66.jpg) no-repeat center center;
      background-size:cover;
      .boss-photo-frame{
        background:url(../images/scene_six/f2.jpg) no-repeat center center;
        background-size:cover;
        div{
          background:url(../images/scene_six/f2.png) no-repeat center center;
          background-size:cover;
        }
        button{
          right:11%;
          top:42%;
        }
      }
    }
  }
}

#SchoolLeaderKai{
  display:none;
  .scene-wrapper{
    .scene-slide:nth-of-type(1){
      background:url(../images/scene_one/11.jpg) no-repeat center center;
      background-size:cover;
      .school-photo-frame{
        background:url(../images/scene_one/a2.jpg) no-repeat center center;
        background-size:cover;
        div{
          background:url(../images/scene_one/a2.png) no-repeat center center;
          background-size:cover;
        }
        button{
          left:12%;
          top:40%;
        }
      }
    }
    .scene-slide:nth-of-type(2){
      background:url(../images/scene_two/22.jpg) no-repeat center center;
      background-size:cover;
      .school-photo-frame{
        background:url(../images/scene_two/b2.jpg) no-repeat center center;
        background-size:cover;
        div{
          background:url(../images/scene_two/b2.png) no-repeat center center;
          background-size:cover;
        }
        button{
          right:9%;
          top:41%;
        }
      }
    }
    .scene-slide:nth-of-type(3){
      background:url(../images/scene_three/33.jpg) no-repeat center center;
      background-size:cover;
      .school-photo-frame{
        background:url(../images/scene_three/c3.jpg) no-repeat center center;
        background-size:cover;
        div{
          background:url(../images/scene_three/c2.png) no-repeat center center;
          background-size:cover;
        }
        button{
          left:11.5%;
          top:46%;
        }
      }
    }
  }
}

#tailpage,#canvas-image{
  width:100vw;
  height:100vh;
  display:none;
  background-size:cover;
  .final-template{
    position:relative;
    top:27/@rem;
    width:635/@rem;
    height:961/@rem;
    margin:0 auto;
    background:url(../images/public/template-bg.png) no-repeat center center;
    background-size:cover;
    padding:25/@rem 25/@rem 0;
    .template-image{
      position:relative;
      width:635/@rem;
      height:787/@rem;
      margin:0 auto;
      background-size:cover;
      div{}
    }
    .SaveTips{
      position:absolute;
      bottom:-37/@rem;
      left:50%;
      width:251/@rem;
      height:37/@rem;
      background:url(../images/public/SaveTips.png) no-repeat center center;
      background-size:cover;
      margin-left:-125/@rem;
    }
  }
  .save-image{
    opacity:0;
  }
  .share{
    display:none;
    background:url(../images/public/share.png) no-repeat;
    background-size:cover;
    z-index:333;
  }
}

