@rem:46.875rem;

.swiper-container{
  height:828/@rem;
  .swiper-wrapper{
    height:100%;
    img{
      width:100%;
      height:100%;
    }
  }
  .swiper-pagination-fraction{
    width:88/@rem !important;
    line-height:40/@rem;
    background-color:rgba(0,0,0,0.5);
    font-size:24/@rem;
    color:#fff;
    left: initial;
    right:20/@rem !important;
    border-radius:100/@rem;
  }
}

.buy-now-container{
  height:80/@rem;
  background:url('../images/22.png') no-repeat;
  background-size:100% 100%;
  div{
    line-height:80/@rem;
  }
}